---
import traffic3DImage from "@/images/projects/traffic3d/traffic3D.png";
import HPEImage from "@/images/projects/hpe3d/HPE.png";
import HANImage from "@/images/projects/sngnn2d-v2/HAN.png";
import { Image } from "astro:assets";

import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/effect-coverflow";
---

<div class="swiper">
	<!-- Additional required wrapper -->
	<div class="swiper-wrapper">
		<!-- Slides -->
		<div class="swiper-slide">
			<Image class="slide__img" src={HPEImage} alt="" />
			<div class="slide__text">
				<h3 class="slide__title">Human Pose Estimation</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, quos. Quod, odit. Quae
					neque quidem quibusdam.
				</p>
			</div>
		</div>
		<div class="swiper-slide">
			<Image class="slide__img" src={traffic3DImage} alt="" />
			<div class="slide__text">
				<h3 class="slide__title">Image generation</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, quos. Quod, odit. Quae
					neque quidem quibusdam.
				</p>
			</div>
		</div>
		<div class="swiper-slide">
			<Image class="slide__img" src={HANImage} alt="" />
			<div class="slide__text">
				<h3 class="slide__title">Human-aware navigation with robots</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, quos. Quod, odit. Quae
					neque quidem quibusdam.
				</p>
			</div>
		</div>

		<div class="swiper-slide">
			<Image class="slide__img" src={HPEImage} alt="" />
			<div class="slide__text">
				<h3 class="slide__title">Human Pose Estimation</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, quos. Quod, odit. Quae
					neque quidem quibusdam.
				</p>
			</div>
		</div>
		<div class="swiper-slide">
			<Image class="slide__img" src={traffic3DImage} alt="" />
			<div class="slide__text">
				<h3 class="slide__title">Image generation</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, quos. Quod, odit. Quae
					neque quidem quibusdam.
				</p>
			</div>
		</div>
		<div class="swiper-slide">
			<Image class="slide__img" src={HANImage} alt="" />
			<div class="slide__text">
				<h3 class="slide__title">Human-aware navigation with robots</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, quos. Quod, odit. Quae
					neque quidem quibusdam.
				</p>
			</div>
		</div>
	</div>

	<!-- Navigation buttons -->
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
</div>

<style>
	.swiper {
		margin-block-start: var(--navbar-height);
		max-width: min(90%, calc(var(--max-main-width) + 50rem));

		.swiper-button-prev,
		.swiper-button-next {
			color: oklch(var(--clr-accent));
		}
	}

	.swiper-wrapper {
		position: relative;
		.swiper-slide {
			text-align: center;
			border-radius: 30px;
			overflow: hidden;
			color: oklch(var(--clr-text-invert));
			background: oklch(var(--clr-text));
			position: relative;

			.slide__text .slide__title {
				font-size: var(--fs-400);
				font-weight: var(--fw-bold);
				color: oklch(var(--clr-accent));
			}

			.slide__img {
				display: block;
				width: 100%;
				height: auto;
				aspect-ratio: 16/9;
				object-fit: cover;
			}
		}
	}
</style>

<script>
	import Swiper from "swiper";

	import { EffectCoverflow, Navigation, Pagination } from "swiper/modules";

	var swiper = new Swiper(".swiper", {
		modules: [Navigation, Pagination, EffectCoverflow],

		slidesPerView: 1,
		spaceBetween: 0,
		centeredSlides: true,
		grabCursor: true,
		loop: true,
		effect: "coverflow",
		coverflowEffect: {
			rotate: 10,
			stretch: 20,
			depth: 210,
			modifier: 3,
			slideShadows: true,
		},
		navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev",
		},

		breakpoints: {
			// when window width is >= 480px
			650: {
				slidesPerView: 2,
				spaceBetween: 0,
			},
		},
	});
	swiper.animating = true;
</script>
